<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AlumniConnectionString" connectionString="Data Source=localhost;Initial Catalog=AlumniAssociationDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="EmailSMTP" value="smtp.gmail.com" />
    <add key="EmailPort" value="587" />
    <add key="EmailUsername" value="your-email@gmail.com" />
    <add key="EmailPassword" value="your-app-password" />
    <add key="SiteName" value="Alumni Association Portal" />
    <add key="AdminEmail" value="admin@alumni.edu" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="51200" executionTimeout="300" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="60" defaultUrl="~/Default.aspx" />
    </authentication>
    
    <authorization>
      <allow users="*" />
    </authorization>
    
    <sessionState timeout="60" />
    
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx" />
    
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    
    <httpModules>
      <add name="ErrorHandlerModule" type="AlumniAssociation.App_Code.ErrorHandlerModule" />
    </httpModules>
  </system.web>
  
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Alumni">
    <system.web>
      <authorization>
        <allow roles="Alumni,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    
    <validation validateIntegratedModeConfiguration="false" />
    
    <modules>
      <add name="ErrorHandlerModule" type="AlumniAssociation.App_Code.ErrorHandlerModule" />
    </modules>
  </system.webServer>
</configuration>